@(controller: de.htwg.se.connectfour.mvc.controller.GridController)
@head(""){


<div>
    <div>
        <div >
            <p>&nbsp;</p>
            <div >
                <table align="center" style="cellspacing: 0px; cellpadding: 0px">
                    @for(j <- 0 until controller.columns){
                    <td style="width:100px; height:100px">
                        <p><img id="@j" src='@routes.Assets.at("images/button.jpg")' /></p>
                    </td>
                    }
                    @for(i <- 0 until controller.rows){
                    <tr>

                        @for(j <- 0 until controller.columns){
                        @if(controller.cell(j,i).toString() == " "){
                        <td style="width:100px; height:100px">
                            <p><img  src='@routes.Assets.at("images/clear.png")' /></p>
                        </td>
                        }
                        @if(controller.cell(j,i).toString() == "O"){
                        <td style="width:100px; height:100px">
                            <p><img  src='@routes.Assets.at("images/redwood.png")' /></p>
                        </td>
                        }
                        @if(controller.cell(j,i).toString() == "X"){
                        <td style="width:100px; height:100px">
                            <p><img  src='@routes.Assets.at("images/blackwood.png")' /></p>
                        </td>
                        }
                        }
                    </tr>
                    }
                </table>
            </div>
            <p>&nbsp;</p>
            <div>
                <p align="center">
                    <button type="button" id="BUTTON">Undo</button>
                    <button type="button" id="BUTTON">Redo</button>
                </p>
            </div>
        </div>
    </div>
</div>
}
