@(controller: de.htwg.se.connectfour.mvc.controller.GridController)
@head(""){


<div class="container-fluid text-center">
    <div>
        <div class="col-sm-8 text-middle">
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <div id="divgame" class="table-responsive">
                <table id="gamefield" class=table align="center" cellspacing="0" cellpadding="0" >
                    @for(j <- 0 until controller.columns){
                    <td>
                        <p><img id="@j" src='@routes.Assets.at("images/button.jpg")' /></p>
                    </td>
                    }
                    @for(i <- 0 until controller.rows){
                    <tr>

                        @for(j <- 0 until controller.columns){
                        @if(controller.cell(j,i).toString() == " "){
                        <td>
                            <p><img  src='@routes.Assets.at("images/clear.png")' /></p>
                        </td>
                        }
                        @if(controller.cell(j,i).toString() == "O"){
                        <td>
                            <p><img  src='@routes.Assets.at("images/redwood.png")' /></p>
                        </td>
                        }
                        @if(controller.cell(j,i).toString() == "X"){
                        <td>
                            <p><img  src='@routes.Assets.at("images/blackwood.png")' /></p>
                        </td>
                        }
                        }
                    </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>
}
