@(controller: de.htwg.se.connectfour.mvc.controller.GridController)
@head(""){


<div>
    <div>
        <div >
            <button id="BUTTONNEWGAME" class="gameButton" value="button"><a>New Game</a></button>

            <div >
                <table align="center" id="customers" style="visibility: hidden;">
                    @for(j <- 0 until controller.columns){
                    <td>
                        <p><img id="@j" src='@routes.Assets.at("images/arrow.png")' width="auto" height="auto" /></p>
                    </td>
                    }
                </table>
                <table align="center" id="grid">

                </table>
            </div>
            <p>&nbsp;</p>
        </div>
    </div>
</div>
}
