@(message: String)

@head("") {
<html lang="en">
    <div>
        <p>
            &nbsp;
            &nbsp;
        </p>
        <p align="center">
            <script
                language="JavaScript"
                src="http://feed2js.org//feed2js.php?src=https%3A%2F%2Fwww.heise.de%2Fnewsticker%2Fheise-atom.xml&chan=y&num=20&desc=1&au=y&utf=y"
                charset="UTF-8"
                type="text/javascript">
            </script>
            <noscript>
                <a href="http://feed2js.org//feed2js.php?src=https%3A%2F%2Fwww.heise.de%2Fnewsticker%2Fheise-atom.xml&chan=y&num=20&desc=1&au=y&utf=y&html=y">
                    View RSS feed
                </a>
            </noscript>
        </p>
        <div class="col-sm-2 sidenav">
        <div class="well" onclick="window.open('https://www.htwg-konstanz.de')">
            <img class="HTWGLOGO" class="img-responsive" src="@routes.Assets.at("images/HTWG.jpg")" />
        </div>
        </a>
        <div class="well">
            <p></p>
        </div>
    </div>
    </div>
</html>
}