@(message: String)

@head("") {
<html lang="en">
    <div>
        <p>
            &nbsp;
            &nbsp;
        </p>
        <p align="center">
            <iframe
                width="600" height="800"
                src="http://www.rss-anzeigen.com/feed.php?showtype=1&url=http://rss.sueddeutsche.de/rss/Topthemen&textfont
                =2&fontsize=10&fontc=000000&linkc=009999&tabwidth=600&tabborder=FF3300&tabbg=996600&newscount=20&newsshow=
                1&maxchars=0&target=1&ifbg=FFFFFF" frameborder=0>
            </iframe>
        </p>
        <div class="col-sm-2 sidenav">
        <div class="well">
            <img id="HTWGLOGO" class="img-responsive" src="@routes.Assets.at("images/HTWG.jpg")" />
        </div>
        </a>
        <div class="well">
            <p></p>
        </div>
    </div>
    </div>
</html>
}